MathWCFService/Divide/Service References/MathServiceReference/MathService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MathWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MathWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DivideByZeroFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivideByZeroFault" nillable="true" type="tns:DivideByZeroFault" />
</xs:schema>